@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT);

*,
*:before,
*:after	{
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #248CE5; 
	padding: 50px;
}

header	{
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

aside	{
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}

article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}

footer {
	margin: auto;
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
	text-align: center;
}

a {
	color: #E0EA69;
	text-decoration: none;
}

nav	{
	display: block;
	float: left;
	font-weight: 300;
	width: 300px;
}

h1, 
h2,
h3, 
title,
nav,
footer,
section, {
	font-family: Questrial, sans-serif;
}

h1 {
	font-size: 50px;
	color: #EBEBEC;
	font-weight: bold;
	text-align: center;
	margin-top: 30px;
}

h2	{
	font-size: 40px;
}

h3	{
	font-size: 36px;
	margin-left: 20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	text-align: center;
}

p	{
	font-size: 50px;
	font-family: Old Standard TT, serif;
}

ul, 
li {
	font-size: 24px;
	font-family: Questrial, sans-serif;
	margin-bottom: 20px;
	margin-left: 20px;
}

/*li	{
	list-style-position: inside;
}*/

p {
     font-size: 24px;
     margin-top: 20px;
     margin-left: 10px;
     margin-right: 20px;
     max-width: 75ch;
     text-align: justify;
}

img{
	width:100%;
	border-style: solid;
	border-color: grey;
	border-width: 1px; 
}

.class	{
	display: block;
	background-color: gray;
	padding: 20px;
}

.r15 {
	height: 50%;
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.r16 {
	height: 50%;
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.resorts14	{ 
	float: left;
	width: 50%;
	padding: 20px;
}

.resorts15	{
	width: 33.3333%
	padding: 20px;
}

.resorts16	{
	width: 25%
	padding: 20px;
} 

.season-trips	{
	float: left;
	width: 33.3333%;
	padding: 20px;
}

.extra-info {
	float: left;
	width: 25%;
	padding: 20px;
}

.content-area {
	padding: 20px;
	background-color: #ffe2b8;
}

#intro {
	margin-left: 20px;
	margin-bottom: 20px;
}

#me {
	margin: auto;
}

#slogan {
	font-style: italic;
	font-size: 42px;
	text-align:	center;
}

.clearfix:after { 
	visibility: hidden;	
	display:block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	
}

#wrapper	{
	width: 1080px;
	margin-left: auto;
	margin-right: auto;
}

#two_column {
	background-color: #FFB7CF;
	border:	1px black solid;
	padding-right: 20px;
}

#left {
	background-color: #E582A2;
	border:	1px black solid;
	padding-right: 20px;
	float: left;
	width: 30%;
}

#right {
	background-color: #E55B88;
	border:	1px black solid;
	padding-right: 20px;
	float: right;
	width: 62%;
}






