*, 
*:before, 
*:after {     
	margin: 0;     
	padding: 0;     
	-moz-box-sizing: border-box;     
	-webkit-box-sizing: border-box;     
	box-sizing: border-box; 
}

body {
	background-color: #849FB9; 
}

h1, h3, p, ul, li, title 
{
	font-family: Karla, sans-serif;
}

#slogan {
	font-style: italic;
	font-size: 42px
}

h1 {
	font-size: 50px
	font-color: #6088AD;
}

p {
     font-size: 28px;
}