*, 
*:before, 
*:after {     
	margin: 0;     
	padding: 0;     
	-moz-box-sizing: border-box;     
	-webkit-box-sizing: border-box;     
	box-sizing: border-box; 
}

body {
	background-color: #EBECEC; 
	background-image: url("./images/Grand_Tetons.jpg")
}

h1, h3, p, ul, li, header, title {
	font-family: Karla, sans-serif;
}
